*{
    margin: 0px;
    padding: 0px;
        }
#batas {
    margin: 0 auto;
    height: auto;
    font-family: sans-serif;
}
#atas{
    display: inline;
    position: relative;
    margin-left: 60px;
    float: left;
}
#atas p{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 8px;
    right: 16px;
}
#sidebar{
    float: left;
    width: 200px;
    height: auto;
    margin-left: 50px;
}
#sidebar img{
    padding: 5px;
    width: 150px;
    margin-left: 55px;
    border-top-left-radius: 80px;
    background-color: white;
}
#sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: white;
    margin-left: 30px;
}
#sidebar p{
    margin: 0 auto;
    padding: 8px 16px; 
}
#header {
    background-color: #074d8f;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
}
#header ul{
    list-style-type: none;
    overflow: hidden;
}
#header li{
    color: white;
    margin: 0px auto;
    margin-top: 10px;
    }
#header li p{
    float: right;
    margin-right: 40px;
}
#header li p a{
    text-decoration: none;
    color: #f23a3a;
}
#daftar_content{
    display: inline;
    float: left;
    padding: 0px;
    margin-left: 30px;
}
#daftar_content form table{
    padding: 20px;
    margin: 0px 20px 0px 30px;
}
#daftar_content table tr td input[type=text]{
    padding: 4px;
    margin-top: 5px;
    margin-left: 7px;
}
#daftar_content table tr td textarea{
    padding: 4px;
    margin-top: 5px;
    margin-left: 7px;
    width: 170px
}
#daftar_content table tr td input[type=password]{
    padding: 4px;
    margin-top: 5px;
    margin-left: 7px;
}
#daftar_content table tr td input[type=radio]{
    padding: 4px;
    margin-top: 5px;
    margin-left: 7px;
}
#daftar_content table tr td input[type=submit]{
    margin-left: 225px;
    margin-top: 20px;
    padding: 5px;
}
.content_bawah{
    margin: 0px;
    float: left;
    border: solid 1px;
    padding: 10px;
    margin-left: 100px;
    border-radius: 10px;
    border-color: grey;
    width: 700px;
}
#footer{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #074d8f;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    color: white;
    font-size: 15px;
}
#clear{
    clear: both;
}